.container-whp {
  margin-top: 84px;

  max-width: 1178px;
  height: 940px;

  padding-top: 40px;
  padding-left: 30px;
  padding-right: 30px;
}

/* Form steppers */
.steppers {
  display: flex;
  flex-direction: column;
  gap: 8px;

  width: 219px;
  height: 70px;
  padding: 4px 12px 4px 12px;
}

.text-current {
  color: rgba(35, 94, 106, 1);
}

.text-finish {
  color: #05c392;
}

.stepper-child {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  color: black;
  padding: 0 0;
}

.stepper-child > i {
  font-weight: bolder;
}

.stepper-child-bar {
  width: 157px;
  height: 0px;
  border: 1px #05c392 solid;
}

.stepper-child-bar-black {
  width: 157px;
  height: 0px;
  border: 1px black solid;
}

.stepper-child-bar-gray {
  width: 157px;
  height: 0px;
  border: 1px gray solid;
}

/* Form steppers */

.general-form-container {
  padding-right: 30px;
  padding-left: 32px;
  padding-top: 32px;
  padding-bottom: 32px;
  border-radius: 8px;
}

.button {
  border: none;
  background: linear-gradient(
    89.99deg,
    #235b6a -1.55%,
    rgba(94, 184, 202, 0.97) 100.2%,
    rgba(160, 8, 248, 0.72) 100.22%,
    #235e6a 100.23%
  );
  width: 125px;
  height: 44px;
  padding: 8px, 16px, 8px, 16px;
  border-radius: 8px;
  gap: 12px;
}

.prev-button {
  color: #235e6a;
  background-color: #e9eff0;
  border-color: #235e6a;

  width: 125px;
  height: 44px;
  padding: 8px, 16px, 8px, 16px;
  border-radius: 8px;
  gap: 12px;
}

.width300 {
  width: 300px;
}

.width677 {
  width: 677px;
}

.width471 {
  width: 471px;
}

.height133 {
  height: 133px;
}

.height43 {
  height: 43px;
}

.gap12 {
  gap: 12px;
}

.date-delete-button {
  border: none;
  width: 43px;
  height: 43px;
  border-radius: 4px 4px;
}

/* Model */
.width700 {
  max-width: 700px !important;
}

.model-button {
  border: none;
  background: linear-gradient(
    89.99deg,
    #235b6a -1.55%,
    rgba(94, 184, 202, 0.97) 100.2%,
    rgba(160, 8, 248, 0.72) 100.22%,
    #235e6a 100.23%
  );
  width: 90px;
  height: 43px;
  padding: 8px, 16px, 8px, 16px;
  border-radius: 8px;
  gap: 12px;
}

.model-header {
  background: linear-gradient(
    89.99deg,
    #235b6a -1.55%,
    rgba(94, 184, 202, 0.97) 100.2%,
    rgba(160, 8, 248, 0.72) 100.22%,
    #235e6a 100.23%
  );

  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 24px;
  padding-right: 20px;
}

.addContract {
  width: 414px;
  height: 74px;
}

.addBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 107px;
  height: 44px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 16px;
  padding-left: 16px;
  border-radius: 8px;
  color: #235e6a;
  background-color: #e9eff0;
  border-color: #235e6a;
}

.addDateBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 147px;
  height: 44px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 16px;
  padding-left: 16px;
  border-radius: 8px;
  color: #235e6a;
  background-color: #e9eff0;
  border-color: #235e6a;
}

.addDateBtn span {
  padding: 0;
  font-size: 3rem;
  margin-bottom: 10px;
  margin-right: 12px;
}

/* Table */
.table-container {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 14.5px;
  border-radius: 8px;
  border: 1px solid #dddddd;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.t-header {
  height: 56px;
}

.t-header tr {
  border-bottom: 1px solid#ddd;
}

.t-body tr {
  height: 48px;
  border-bottom: 1px solid#ddd;
}

td,
th {
  text-align: left;
  padding: 8px;
}

.trash-button {
  border: none;
  width: 36px;
  height: 36px;
  border-radius: 4px 4px;
}

.trash-button:hover {
  background-color: rgba(249, 96, 142, 1);
}

.trash-button i:hover {
  color: white !important;
}

/* Table */
/* Model */

.addContract:hover {
  background: #235e6a !important;
  color: white;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.button:hover {
  background-color: #235e6a !important;
  color: white;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

@media screen and (max-width: 768px) {
  .width300 {
    width: 200px;
  }
}

@media screen and (max-width: 742px) {
  .steppers {
    width: 145px;
  }
  .stepper-child-bar {
    width: 70px;
  }
}

@media screen and (max-width: 576px) {
  .width300 {
    width: 150px;
  }
}

/* Login */
.height580 {
  height: 580px;
}

.width1200 {
  width: 1200px !important;
}

.login-photo {
  width: 100%;
  height: 100%;
}

/* This is magical! */
.width464 {
  width: 464px;
}

/* This is as long as screen size is greater than 975px we important width class :) */
@media (min-width: 975px) {
  .col-xl-4.width464 {
    width: 464px !important;
  }
}
/* This is magical! */

@media (max-width: 762px) {
  /* For medium screens and above */
  .d-flex {
    flex-direction: column;
    gap: 40px; /* Change flex direction to row for medium screens */
  }
}

.login-form-title {
  width: 284px;
  height: 104px;
  margin: 0 auto;
}

.login-form-header {
  height: 65px;
  margin-bottom: 29px;
}

.login-input-container {
  width: 400px;
  height: 84px;
}

.MYT-image {
  width: 166px;
  height: 50px;
  margin: 0 auto;
}

.p32 {
  padding: 32px 32px;
}

.login-button {
  border: none;
  height: 48px;
  background: linear-gradient(
    89.99deg,
    #235b6a -1.55%,
    rgba(94, 184, 202, 0.97) 100.2%,
    rgba(160, 8, 248, 0.72) 100.22%,
    #235e6a 100.23%
  );
}
/* Login */
