.container-whp {
  margin-top: 84px;

  max-width: 1178px;
  height: 940px;

  padding-top: 40px;
  padding-left: 30px;
  padding-right: 30px;
}

/* Form steppers */
.steppers {
  display: flex;
  flex-direction: column;
  gap: 8px;

  width: 219px;
  height: 70px;
  padding: 4px 12px 4px 12px;
}

.stepper-child {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  color: #05c392;
  padding: 0 0;
}

.stepper-child-bar {
  width: 157px;
  height: 0px;
  border: 1px #05c392 solid;
}
/* Form steppers */

.general-form-container {
  padding-right: 30px;
  padding-left: 32px;
  padding-top: 32px;
  padding-bottom: 32px;
  border-radius: 8px;
}

.button {
  border: none;
  background: linear-gradient(
    89.99deg,
    #235b6a -1.55%,
    rgba(94, 184, 202, 0.97) 100.2%,
    rgba(160, 8, 248, 0.72) 100.22%,
    #235e6a 100.23%
  );
  width: 125px;
  height: 44px;
  top: 681px;
  left: 991px;
  padding: 8px, 16px, 8px, 16px;
  border-radius: 8px;
  gap: 12px;
}

.width300 {
  width: 300px;
}

@media screen and (max-width: 992px) {
  .width300 {
    width: 250px;
  }

  .steppers {
    width: 175px;
  }
  .stepper-child-bar {
    width: 110px;
  }
}

@media screen and (max-width: 768px) {
  .width300 {
    width: 200px;
  }
}

@media screen and (max-width: 576px) {
  .width300 {
    width: 150px;
  }
}
